* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #edeef0;
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1080px;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.right_header a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 8px;
}

.right_header a:hover {
    background-color: #f5f6f8;
}

.name_app {
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 5px 0px 5px 0px;
}

.name_app a {
    display: flex;
    align-items: center;
}

.panel_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_header {
    margin: 0px 20px 0px 0px;
}

.elements_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.elem a{
    display: flex;
    align-items: center;
    fill: #999999;
    margin: 10px 10px;
    height: 100%;
}

.elem a:hover {
    transform: scale(1.1);
}

.header input {
    width: 215px;
    height: 20px;
    font-size: 13px;
    padding: 5px 5px 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #edeef0;
}

.header input:hover {
    background-color: #e4e5e9;
}

.container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.nav {
    width: 165px;
    font-size: 13px;
    margin-top: 12px;
}
.custom_list {
    list-style: none;
    margin-left: -10px;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000000;
}

.custom_list li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 30px;
    padding-left: 5px;
    margin: 0 5px;
}

.svg_nav {
    margin-right: 12px;
    fill: #447bba;
}

.custom_list li a:hover {
    background-color: #e5e7eb;
    border-radius: 5px;
}

.main_content {
    display: flex;
    flex-direction: row;
    background-color: #edeef0;
}

.center_content {
    width: 550px;
    height: fit-content;
    margin-top: 15px;
}

.what_new {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 20px;
    height: 52px;
    border: 1px solid #dce1e6;
}

.what_new input {
    width: 100%;
    font-size: 13px;
    height: 30px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: #999999;
}

.what_new img {
    margin: 0  10px 0 0;
}

.add_pin_content {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.add_pin_content a {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.add_pin_content a:hover {
    transform: scale(1.2);
}

.add_pin_content svg {
    fill: #999999;
}

.right_sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 17px;
    padding: 10px;
    border:  1px solid #dce1e6;
    border-radius: 10px;
    width: 325px;
    height:fit-content;
    background-color: #ffffff;
}

.right_sidebar div {
    margin: 1px 0;
    padding: 10px 10px;
    font-size: 13px;
}

.first_pos {
    background-color: #f5f6f8;
    border-radius: 8px;
}

.right_sidebar div:hover {
    background-color: #f5f6f8;
    border-radius: 8px;
}

.stories {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #dce1e6;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 15px;
}

.stories span {
    display: block;
    margin-bottom: 15px;
}

.stories div img {
    width: 94px;
    height: 170px;
    border-radius: 8px;
    margin-right: 3px;
}

.stories div img:hover {
    transform: scale(1.02);
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dce1e6;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 13px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.header_post {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header_post_left, .footer_post_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar_post img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.name_group a {
    color: #2a5885;
    font-weight: 600;
}

.last_time a {
    color: #818c99;
}

.last_time a:hover {
    text-decoration: underline;
}

.name_group a:hover {
    text-decoration: underline;
}

.text_post {
    margin: 8px 0 0 0;
    line-height: 1.5;
}

.pic_post {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #f0f2f5;
}

.pic_post img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer_post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_post_left a{
    margin-right: 10px;
}

.counter_view {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #818c99;
}

.counter_view svg {
    padding-top: 2px;
    margin-right: 5px;
}

.actions_post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    color: #999999;
    padding: 5px 10px;
    border-radius: 30px;
}

.actions_post svg {
    margin-right: 5px;
}

/* messages */

.search_chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding: 0 15px;
    height: 52px;
    border: 1px solid #dce1e6;
    border-bottom: none;
}

.search_chat input {
    width: 100%;
    font-size: 13px;
    height: 30px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: #93a3bc;
}

.chats {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dce1e6;

    margin-top: 0;
    font-size: 13px;
    margin-bottom: 15px;
    border-radius: 0 0 10px 10px;
}

.chat_row {
    border-bottom: 1px solid #dce1e6;
}

.chat_row :hover{
    background-color: #f5f6f8;
}

.chat_avatar {
    padding: 10px 14px 7px 20px;
}

.chat_avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dce1e6;
}

.chat_row a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.chat_top_bar {
    width: 451px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name_chat_info{
    color: #2a5885;
    font-weight: 600;
}

/* Groups */

.center_content_groups {
    width: 550px;
    height: fit-content;
    margin-top: 15px;
}

.title_groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #dce1e6;
    border-bottom: none;
}

.left_title_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 18px 20px;
}

.btn_all_groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_all_groups a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    color: #818c99;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dce1e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 4px rgba(0, 0, 0, .06);
}

 .btn_manage_groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .btn_manage_groups a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    margin: 0 0 0 6px;
    color: #818c99;
 }

 .counter_all_groups, .counter_manage_groups {
    font-size: 13px;
    margin: 0 0 0 6px;
    font-weight: bold;
 }

 .btn_manage_groups :hover, .btn_all_groups :hover {
    background-color: #f5f6f8;
    border-radius: 8px;
 }

 .btn_create_group {
    padding: 5px 0;
    border-radius: 8px;
    margin: 0 20px 0 75px;
    background-color: #447BBA;
    
 }

 .btn_create_group a{
    color: #ffffff;
    padding: 0 16px;
    font-weight: bold;
 }

 .btn_create_group :hover{
    color: #f5f6f8;
 }

 .search_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d3d9de;
    border-top: none;
    border-bottom: none;
    justify-content: right;
    background-color: #ffffff;
    padding: 0 20px 4px;
}

.wrapper_search_group {
    border: 1px solid #d3d9de;
    border-radius: 6px 0 0 6px;
}

.search_group input {
    width: 100%;
    font-size: 13px;
    border: none;
    color: #93a3bc;
    border-radius: 6px 0 0 6px;
    margin: 0 300px 0 12px;
    padding: 8px 0px 8px 0;
}

.btn_search_group{
    width: 48px;
    height: 33px;
    outline: 0;
    padding: 0;
    margin: 0;
    float: right;
    border: 1px solid #d3d9de;
    border-radius: 0 6px 6px 0;
    background: rgb(235 242 250 / 99%);
    cursor: pointer;
}

.btn_search_group svg {
    margin-top: 4px;
}

.groups {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dce1e6;
    border-bottom: none;
    border-top: none;
    margin-top: 0;
    font-size: 13px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #dce1e6; 
}

.group_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #dce1e6;
}

.group_row_left {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.avatar_group img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #dce1e6;
}

.group_row_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #626d7a;
}

.name_group a {
    color: #2a5885;
    font-weight: 600;
}

.about_group,
.followers_group,
.name_group {
    padding: 9px 0 0;
}

.name_group a:hover {
    text-decoration: underline;
}

/* Friends */

.center_content_friends {
    width: 550px;
    height: fit-content;
    margin-top: 15px;
}

.title_friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #dce1e6;
    border-bottom: none;
}

.left_title_friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 18px 20px;
}

.btn_all_friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_all_friends a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    color: #818c99;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dce1e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 4px rgba(0, 0, 0, .06);
}

 .btn_manage_friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .btn_manage_friends a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    margin: 0 0 0 6px;
    color: #818c99;
 }

 .counter_all_friends, .counter_manage_groups {
    font-size: 13px;
    margin: 0 0 0 6px;
    font-weight: bold;
 }

 .btn_manage_friends :hover, .btn_all_friends :hover {
    background-color: #f5f6f8;
    border-radius: 8px;
 }

 .btn_find_friends {
    padding: 5px 0;
    border-radius: 8px;
    margin: 0 20px 0 75px;
    background-color: #447BBA;
    
 }

 .btn_find_friends a{
    color: #ffffff;
    padding: 0 16px;
    font-weight: bold;
 }

 .btn_find_friends :hover{
    color: #f5f6f8;
 }

 .search_friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d3d9de;
    border-top: none;
    border-bottom: none;
    justify-content: right;
    background-color: #ffffff;
    padding: 0 20px 4px;
}

.wrapper_search_friend {
    border: 1px solid #d3d9de;
    border-radius: 6px 0 0 6px;
}

.search_friend input {
    width: 100%;
    font-size: 13px;
    border: none;
    color: #93a3bc;
    border-radius: 6px 0 0 6px;
    margin: 0 300px 0 12px;
    padding: 8px 0px 8px 0;
}

.btn_serach_friend {
    width: 64px;
    height: 33px;
    outline: 0;
    padding: 0;
    margin: 0;
    float: right;
    border: 1px solid #d3d9de;
    border-radius: 0 6px 6px 0;
    background: rgb(235 242 250 / 99%);
    cursor: pointer;
}

.btn_serach_friend svg{
    margin-top: 4px;
}

.friends {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dce1e6;
    border-bottom: none;
    border-top: none;
    margin-top: 0;
    font-size: 13px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #dce1e6; 
}

.friend_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #dce1e6;
}

.friend_row_left {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.avatar_friend img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid #dce1e6;
}

.friend_row_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #626d7a;
}

.name_friend a {
    color: #2a5885;
    font-weight: 600;
}

.actions_with_friends {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.write_friend a, .call_friend a{
    color: #2a5885;
}

.separate_actions {
    display: inline-block;
    margin: 0 6px;
    background-color: #939393;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.education_friend,
.actions_with_friends,
.name_friend{
    padding: 9px 0 0;
}

.name_friend a:hover,
.write_friend a:hover,
.call_friend a:hover {
    text-decoration: underline;
}